body{
width: 100%;
}
.header{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 70px;
	background: white;
	border-bottom:solid 2px #c1c1c1;
	
	z-index: 100;
}
.phone{
	display: inline-block;
}
main{
	margin:0;
	padding: 0;
}
.phone a{
	text-decoration: none;
	color:black;
	font-size:20px;
}
.logo img, figure{ 
	width: 300px;
	margin: 0;
	padding: 0;
 }
 .logo img{
 	margin-top: 4px;
 }
.main_menu ul li{
	float:left;
	list-style: none;
	background: #4295f4;
	border-radius: 27px;
	border:solid 3px #d2e0ef;
	font-size:25px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 9px;
	padding-left: 9px;
	color:white;
	margin-right: 6px;


}
.main_menu ul li:hover{
	
	border:solid 3px #83b1e2;
	


}
.main_menu ul{
	margin:0;
	padding:0;

}
.main_menu{

	
	width: 530px;
	float: left;
	margin-top: 12px;
	margin-left: 30px;
}
.semi{
	
	margin-left: 2%;
	width: 350px;
	
	float: left;

}
.dispan{
	display: inline-block;
	margin-left: 53px;
	margin-top:-20px;

}
.sec1{
	z-index: 0;
	background: url("../img/sec1.jpg");
	background-size: cover;
	height:100vh;
	
	overflow: hidden;

}
.sec2{
	background: white;
	background-size: ;
	height:100vh;
	
	overflow: hidden;

}
.sec3{
	background: url("../img/sec1.jpg");
	background-size: cover;
	height:100vh;
	
	overflow: hidden;

}


.opacity{
	position: absolute;
	height:100vh;
	overflow: hidden;
	background: gray;
	z-index: 3;
	opacity: 0.6;
}
.p-info{
	width: 80%;
	
	
	position: absolute;
	margin-top: 35vh;
	left:50%;
	margin-left: -25%;
	opacity: 0.9;
	z-index: 5;
	font-size: 30px;
	font-family: 'Times New Roman';
	color:white;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
	


}
.p-title{
	position: absolute;
	font-weight: bolder;
	text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
	left:50%;
	margin-left: -25%;
	margin-top: 28vh;
	display: inline-block;
	font-size: 44px;
	width: 650px;
	padding-left:10px;
	color:white;

	
}
.cbutton{
	position: absolute;
	left:50%;
	margin-left:-150px;
	width:300px;
	height:50px;
	background:#f73639;
	border:#fc5053 solid 2px ;
	border-radius: 4px;
	padding-top:9px;
	padding-left:9px;
	
	margin-top:70vh;
	font-size:36px;
	color:white;


}
.cbutton:hover{
border:#ff0a0e solid 2px ;
cursor:pointer;
}
.sec2{
	
}
.sec2 article{
	font-size: 24px;
	
	margin-top: -150px;
	padding:10px;
	width: 580px;
	height: 200px;
	left:50%;
	margin-left: -300px;
	border:solid 5px blue;
	

}
.dialog{
	position: fixed;
	left:0;
	top:0;
	display: block;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	z-index: 102;

}
.frame{
	z-index:103;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-200px;
	margin-top:-150px;
	width: 400px;
	height: 300px;
	background: white;
	padding-left: 22px;
	
	padding-top:28px;

}
.table , .table tr, .table td{
	padding: 8px;
}
.table textarea{
	height:100px;
}
